/* Globale Styles können hier hinzugefügt werden */

.navbar {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  border-radius: 0 0 12px 12px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}



.nav-links a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}


.active_route{
  text-decoration: underline;
  text-decoration: #ffffff;
}
