/* Globale Styles können hier hinzugefügt werden */

.navbar {
  background-color: #ffffff;

  opacity: 0.9;
  padding: 10px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}



.nav-links a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}
