h1 {
  color: #ffffff;
  font-size: 60px;
  justify-content: center;
  padding-top: 20px;
}

@media (max-width: 750px) {
  h1{
    font-size: 50px;
  }
}

.submit_area{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 15px
}

.formcontainer{
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #000000;
}

@media (max-width: 750px) {
  .formcontainer{
    width: 90%;
    margin: 0 auto;
  }
  .submit_area{
    display: block;
  }
  .contact_header{
    text-align: center;
  }
  .submit_area{
    text-align: center;
  }
}




.custom-dialog-class {
  backdrop-filter: blur(10px); /* Hintergrund verschwimmen lassen */
  background-color: rgba(255, 255, 255, 0.3); /* Hintergrundfarbe */
}

.sendsuccess_dialog{
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #000000;
  justify-content: center;
}

.contact_container {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

@media (max-width: 600px) {
  .contact_container {
    display: block;
    padding: 0;
  }
}
