h1 {
  color: #ffffff;
  font-size: 60px;
  justify-content: center;
  padding-top: 20px;
}

@media (max-width: 750px) {
  h1{
    font-size: 50px;
  }
}


.formcontainer{
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #000000;
}

.custom-dialog-class {
  backdrop-filter: blur(10px); /* Hintergrund verschwimmen lassen */
  background-color: rgba(255, 255, 255, 0.3); /* Hintergrundfarbe */
}

.sendsuccess_dialog{
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #000000;
  justify-content: center;
}

