
<script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
<div class="outercontainer">
  <div class="container">
    <div>
      <h1 class="contact_header">
        Jetzt kontaktieren
      </h1>
    </div>
  </div>

  <div class="contact_container">
    <div class="row" >
      <div class="col-md-20 offset-md-0">

        <div *ngIf="sucess" @fadeSlideInOut class="sendsuccess_dialog">
          <h2 style="text-align: center">
            Vielen Dank für Ihre Anfrage!
          </h2>
          <p style="text-align: left" >Wir haben Ihre Nachricht erhalten und werden uns in Kürze bei Ihnen melden.<br> Bitte überprüfen Sie demnächst Ihren E-Mail-Posteingang für unser Angebot.</p>
          <p>Falls Sie weitere Fragen haben oder zusätzliche Informationen benötigen,<br>zögern Sie nicht, uns zu kontaktieren.<br><br>
            Mit freundlichen Grüßen,<br>
            Ihr SecuretechFusion-Team</p>
        </div>





        <form *ngIf="!sucess" @fadeSlideInOut id="contact_form" [formGroup]="FormData" (ngSubmit)="onsubmit(FormData)"><div class="form-group">
           <div class="formcontainer">
            <div class="form-group" style="display: flex; gap: 20px; justify-content: space-between">
              <div>
                <label>Vorname</label>
                <input type="text" class="form-control" name="vorname" placeholder="Vorname" formControlName="firstname" [maxlength]="30">
              </div>
              <div>
                <label>Nachname</label>
                <input type="text" class="form-control" name="nachname" placeholder="Nachname" formControlName="surname" [maxlength]="30">
              </div>

            </div>


            <div class="form-group">
              <label>Firmenname</label>
              <input type="text" class="form-control" name="firmenname" placeholder="Firmenname (optional)" formControlName="companyname" [maxlength]="30">
            </div>

            <label>Thema</label>
            <div class="form-select">

              <select class="form-control" name="topic" formControlName="topic">
                <option value="Website">Website</option>
                <option value="Datenbankentwicklung">Datenbankentwicklung</option>
                <option value="Individuelle Softwarelösung">Individuelle Softwarelösung</option>
                <option value="IT-Sicherheit">IT-Sicherheit</option>
              </select>
            </div>

            <div class="form-group">
              <label>E-Mail</label>
              <input type="email" class="form-control" name="email" placeholder="E-Mail" formControlName="email" [maxlength]="60">
            </div>

            <div class="form-group">
              <label>Ihre Nachricht</label>
              <textarea class="form-control" name="nachricht" placeholder="Ihre Nachricht" formControlName="message" [maxlength]="650"></textarea>
            </div>
            <div class="submit_area">
              <button type="submit" class="btn btn-primary" style="margin-bottom: 10px" [disabled]="!FormData.valid || !captcha">Senden</button>
              <div [hidden]="captcha">
                <re-captcha (resolved)="resolved($event)" siteKey='6LdcTVMoAAAAAAJ_fo0D6wzdO94Q3ax2wZxOD33Y'></re-captcha>
              </div>



            </div>

          </div>


          </div>

        </form>

      </div>
    </div>
  </div>
</div>
