





h1 {
  color: #ffffff;
  font-size: 60px;
  justify-content: center;
  padding-top: 20px;
}

.columnText{
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 5px;
  padding: 20px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  font-family: Arial, sans-serif;
}


.textcontainer {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .textcontainer {
    width: 90%;
    display: block;
  }
  .textcontainer h1 {
    text-align: center;
  }

}

.outercontainer {
  display: block;
  align-items: center;

}



