


<body>
<div class="outercontainer">
  <div class="container">
    <div>
      <h1>Über <br>uns </h1>
    </div>
    <div class="columnText">
      <p>Wir sind ein kleines Team aus 3 Personen, die sich zusammengefunden haben, um ein Projekt zu starten. Wir sind alle Studenten der Hochschule für Technik und Wirtschaft in Berlin und studieren Wirtschaftsinformatik. </p>
    </div>

  </div>
  <div class="container">
    <div class="columnText">
      <p>
        Hallo
      </p>
    </div>

  </div>


</div>



</body>
