


<div  class="outercontainer">
  <div class="container">
    <div>
      <h1>
        Unsere Leistungen
      </h1>
    </div>
  </div>

  <div @fadeSlideInOut class="container">
    <div class="productContainer">
      <img src="assets/html5.jpg" alt="Webentwicklung">
      <h1>
        Webentwicklung
      </h1>
      <p>
        Lore
      </p>
    </div>
    <div  class="productContainer">
      <img src="assets/html5.jpg" alt="Webentwicklung">
      <h1>
        Webentwicklung
      </h1>
      <p>
        Testhallo
      </p>
    </div>
    <div class="productContainer">
      <img src="assets/html5.jpg" alt="Webentwicklung">
      <h1>
        Webentwicklung
        </h1>
      <p>
        Testhallo
      </p>
    </div>
  </div>

  <div @fadeSlideInOut class="container">
    <div class="productContainer">
      <img src="assets/html5.jpg" alt="Webentwicklung">
      <h1>
        Webentwicklung
      </h1>
      <p>
        Lore
      </p>
    </div>
    <div class="productContainer">
      <img src="assets/html5.jpg" alt="Webentwicklung">
      <h1>
        Webentwicklung
      </h1>
      <p>
        Testhallo
      </p>
    </div>
    <div class="productContainer">
      <img src="assets/html5.jpg" alt="Webentwicklung">
      <h1>
        Webentwicklung
      </h1>
      <p>
        Testhallo
      </p>
    </div>

  </div>
  <div @fadeSlideInOut class="container">
    <div class="productContainer">
      <img src="assets/html5.jpg" alt="Webentwicklung">
      <h1>
        Webentwicklung
      </h1>
      <p>
        Lore
      </p>
    </div>
    <div class="productContainer">
      <img src="assets/html5.jpg" alt="Webentwicklung">
      <h1>
        Webentwicklung
      </h1>
      <p>
        Testhallo
      </p>
    </div>
    <div class="productContainer">
      <img src="assets/html5.jpg" alt="Webentwicklung">
      <h1>
        Webentwicklung
      </h1>
      <p>
        Testhallo
      </p>
    </div>


  </div>


</div>




