


<div  class="outercontainer">
  <div class="container">
    <div>
      <h1 class="productsHeader">
        Unsere Leistungen
      </h1>
    </div>
  </div>

  
  <div @fadeSlideInOut class="productCollection">
      <div routerLink="/websiten" class="productContainer ">
        <img src="assets/html5.jpg" alt="Webentwicklung" style="width: 350px; height: 233px">
        <h1 class="productName">
          Websiten
        </h1>
      </div>

      <div routerLink="/database" class="productContainer">
        <img src="assets/UML-Diagramm.png" alt="Webentwicklung" style="width: 350px; height: 233px">
        <h1 class="productName">
          Datenbankentwicklung
        </h1>
      </div>

    </div>

    <div @fadeSlideInOut class="productCollection">
      <div routerLink="/software-solutions" class="productContainer">
        <img src="assets/programming_languages.jpeg" alt="Webentwicklung" style="width: 350px; height: 233px">
        <h1 class="productName">
          Individuelle Softwarelösungen
        </h1>
      </div>
      <div routerLink="/it-security" class="productContainer">
        <img src="assets/html5.jpg" alt="Webentwicklung">
        <h1 class="productName">
          IT-Sicherheitsvorträge und -schulungen
        </h1>
      </div>
    </div>





</div>




